# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/

# Ignore test & coverage reports
htmlcov/
*.cover
*.log
.coverage
.cache
nosetests.xml
coverage.xml

# Ignore IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# Ignore system files
.DS_Store
Thumbs.db

# Ignore dependency files
*.egg-info/
*.lock
